.container {
    width: 95vw;
    min-width: 360px;
    margin:  30px auto;
    overflow: auto;
    min-height: 300px;
    /* border: 2px solid #00AB0F; */
    padding: 10px 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title-step {
    color:black;
    border-bottom: 2px solid #00AB0F;
    padding-bottom: 15px;
    font-weight: 600;
}

.button {
    background-color:  #00AB0F;
    border-radius: 25px;
    width: 150px;
    height: 35px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    background-color:  rgba(128, 128, 128, 0.74);
    color: black;
    cursor:auto;
}

.container-button {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    min-width: 360px;
}
.title {
    padding: 0px 0px 0px 55px;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.74);
}

.green-text {
    color: #009E0C;
    font-weight: 400;
}

.simple-text {
    color: rgba(128, 128, 128, 0.74);
    font-weight: 400;
}