.container {
    width: 95vw;
    min-width: 360px;
    margin:  30px auto;
    overflow: auto;
    min-height: 300px;
    /* border: 2px solid #00AB0F; */
    padding: 10px 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title-step {
    color:black;
    border-bottom: 2px solid #00AB0F;
    padding-bottom: 15px;
    font-weight: 600;
}

.button {
    /* background-color:  #00AB0F; */
    border-radius: 25px;
    width: 150px;
    height: 35px;
    border: none;
    opacity: 0.5;
    background-color:  rgba(128, 128, 128, 0.74);
    color: black;
    cursor:auto;
}

.enabled {
   background-color:  #00AB0F;
   border-radius: 25px;
   width: 150px;
   height: 35px;
   border: none;
   color: whitesmoke;
   cursor: pointer;
   opacity: 1;
}

.container-button {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60 px;
    min-width: 360px;
}
.title {
    padding: 0px 0px 0px 55px;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.74);
}

.green-text {
    color: #009E0C;
    font-weight: 400;
}

.simple-text {
    color: rgba(128, 128, 128, 0.74);
    font-weight: 400;
}

.general-input {
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.74);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60vw;
    min-width: 200px;
    max-width: 400px;
    height: 30px;
}

.title-input {
    font-weight: 400;
}

.address-container {
    padding-top: 30px;
}

.container-form {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.product-container {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.74);
    color: whitesmoke;
    border-radius: 10px;
    opacity: 0.7;
    margin: 10px;
    width: 80vw;
    min-width: 300px;
    flex-direction: column;
    height: 150px;
    cursor: pointer;
}

.product-container:hover {
    background-color: #009E0C;
    transition: 1s width;
}

.selected-product {
    background-color: #009E0C;
    border: 2px solid silver;
    width: 85vw;
}
